.jumbotron {
  display: block;
  width: 100%;
  background-image: url("./images/dark-paths.png");
  background-repeat: repeat;
  color: #fff;
  padding-top: 140px;
  padding-bottom: 20px;
  text-align: center;
}

.jumbotron h1 {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}

.jumbotron h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}


